.Nav-Exam {
    height: 70px;
    width: calc(100% - 210px);
    background: #E8E8E8;
    margin-top: 63px;
   z-index: 9988 !important;
}

.exam-btn {
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    border-radius: 20px;
    justify-content: center;
}

